.content-box {
  margin-bottom: 100px; }
  .content-box > h2 {
    font-size: 16px;
    margin: 0;
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid #e5e5e5; }
  .content-box .inner-content-box {
    color: #595656;
    font-size: 14px; }
    .content-box .inner-content-box h2 {
      font-size: 16px;
      margin: 0;
      padding: 10px 0 10px 5px; }
    .content-box .inner-content-box table {
      table-layout: fixed;
      border: none;
      border-collapse: collapse; }
      .content-box .inner-content-box table tr {
        margin-bottom: 20px; }
      .content-box .inner-content-box table th, .content-box .inner-content-box table td {
        font-weight: normal;
        text-align: left;
        height: 50px;
        vertical-align: middle;
        padding: 0;
        box-sizing: border-box; }
      .content-box .inner-content-box table th {
        width: 90px;
        padding-left: 5px;
        vertical-align: top;
        line-height: 50px; }
      .content-box .inner-content-box table td {
        font-weight: normal; }
.inner-content-box h2 {
  margin-top: 45px !important;
  margin-bottom: 20px !important; }

.inner-content-box input[type="text"] {
  padding: 0 15px; }

.inner-content-box input[disabled] {
  background: #eeeeee; }

.inner-content-box th, .inner-content-box td {
  padding-bottom: 20px !important; }

.inner-content-box .aptitude-box, .inner-content-box .card1-box, .inner-content-box .card2-box {
  width: 160px;
  height: 160px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background: #e5e5e5;
  margin-right: 20px; }
  .inner-content-box .aptitude-box > img, .inner-content-box .card1-box > img, .inner-content-box .card2-box > img {
    display: block;
    margin: 28px auto; }

.inner-content-box .aptitude-stated, .inner-content-box .card-stated {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  margin: 0; }

.inner-content-box input[type="file"] {
  opacity: 0;
  cursor: pointer; }
.progress-box {
  width: 840px;
  height: 70px;
  list-style: none;
  margin: 20px 0;
  padding: 0;
  text-align: center; }
  .progress-box.progress-stage1 > .stage1 > i:before {
    background: #f9bc55; }
  .progress-box.progress-stage2 > .stage1 > i:before {
    background: #f9bc55; }
  .progress-box.progress-stage2 > .stage1:after {
    background: #f9bc55; }
  .progress-box.progress-stage2 > .stage2 > i:before {
    background: #f9bc55; }
  .progress-box.progress-stage3 > .stage1 > i:before {
    background: #f9bc55; }
  .progress-box.progress-stage3 > .stage1:after {
    background: #f9bc55; }
  .progress-box.progress-stage3 > .stage2 > i:before {
    background: #f9bc55; }
  .progress-box.progress-stage3 > .stage3 > i:before {
    background: #f9bc55; }
  .progress-box.progress-stage3 > .stage3:after {
    background: #f9bc55; }
  .progress-box > li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: 50px; }
    .progress-box > li > i {
      display: block;
      width: 60px;
      height: 40px;
      background: #fff;
      font-style: normal;
      margin: 0 auto; }
      .progress-box > li > i:before {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        background: #c2c3c4;
        margin: 0 auto; }
    .progress-box > li > span {
      line-height: 30px; }
    .progress-box > li.stage1 {
      float: left; }
      .progress-box > li.stage1 > i:before {
        content: '1'; }
      .progress-box > li.stage1:after {
        content: '';
        position: absolute;
        top: 18px;
        left: 75px;
        width: 345px;
        height: 4px;
        background: #c2c3c4;
        z-index: -1; }
    .progress-box > li.stage2 > i:before {
      content: '2'; }
    .progress-box > li.stage3 {
      float: right; }
      .progress-box > li.stage3 > i:before {
        content: '3'; }
      .progress-box > li.stage3:after {
        content: '';
        position: absolute;
        top: 18px;
        right: 75px;
        width: 345px;
        height: 4px;
        background: #c2c3c4;
        z-index: -1; }
.dev-box {
  width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  color: #333; }
  .dev-box > h1 {
    font-size: 16px;
    margin: 40px 0 0 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #e5e5e5; }
  .dev-box .dev-container {
    margin: 45px 0;
    font-size: 0; }
    .dev-box .dev-container .left-side {
      display: inline-block;
      box-sizing: border-box;
      width: 270px;
      margin-right: 10px;
      font-size: 14px; }
    .dev-box .dev-container .content-box {
      display: inline-block;
      vertical-align: top;
      width: 870px;
      font-size: 14px; }
.left-side .user-info-box {
  padding: 0 10px; }
  .left-side .user-info-box > .user-head {
    margin-right: 10px;
    vertical-align: middle;
    background: #818181;
    border-radius: 4px; }
  .left-side .user-info-box > .user-info-list {
    width: 150px;
    line-height: 30px;
    color: #595656;
    display: inline-block;
    vertical-align: middle; }
    .left-side .user-info-box > .user-info-list > .user-status.certified {
      color: #f39800; }
      .left-side .user-info-box > .user-info-list > .user-status.certified:after {
        background-image: url(images/certified-icon.png);
        background-size: 23px 15px; }
        @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
          .left-side .user-info-box > .user-info-list > .user-status.certified:after {
            background-image: url(images/certified-icon@2.png); } }
    .left-side .user-info-box > .user-info-list > .user-status:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 23px;
      height: 15px;
      margin-left: 10px;
      background-image: url(images/uncertified-icon.png);
      background-size: 23px 15px; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
        .left-side .user-info-box > .user-info-list > .user-status:after {
          background-image: url(images/uncertified-icon@2.png); } }

.left-side > ul {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0; }
  .left-side > ul > li {
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5; }
    .left-side > ul > li > a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #595656; }
    .left-side > ul > li.active, .left-side > ul > li:HOVER {
      background: #f9bc55; }
      .left-side > ul > li.active > a, .left-side > ul > li:HOVER > a {
        color: #fff; }
