.error-box {
  height: 500px;
  padding-top: 200px;
  text-align: center;
  box-sizing: border-box; }
  .error-box .error-tip {
    font-size: 20px;
    font-weight: normal;
    color: #a8a8a8; }
    .error-box .error-tip:before {
      content: '';
      display: inline-block;
      width: 34px;
      height: 24px;
      vertical-align: bottom;
      background-image: url(images/error.png);
      background-size: 24px 24px;
      background-repeat: no-repeat; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
        .error-box .error-tip:before {
          background-image: url(images/error@2.png); } }
    .error-box .error-tip > em {
      font-style: normal;
      color: red;
      padding: 0 5px 0 0; }
