body > .screen-lock {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
  text-align: center;
  display: none;
  background: rgba(0, 0, 0, 0.3); }
  body > .screen-lock > .submit-tip {
    width: 107px;
    height: 103px;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -53.5px; }
  body > .screen-lock > .alert-tip {
    display: inline-block;
    padding: 30px 150px;
    font-size: 26px;
    margin-top: 200px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
    body > .screen-lock > .alert-tip > p {
      margin: 0;
      padding: 0; }
    body > .screen-lock > .alert-tip > button {
      display: inline-block;
      padding: 7px 30px;
      margin-top: 20px;
      background: #fff;
      border: 1px solid #d2d2d2;
      border-radius: 2px;
      outline: none;
      cursor: pointer; }
      body > .screen-lock > .alert-tip > button:HOVER {
        color: #fff;
        background: #3996fd;
        border-color: #3996fd; }
    body > .screen-lock > .alert-tip > .subtitle {
      display: block;
      margin: 20px 0 10px 0;
      font-size: 14px;
      font-style: normal; }
