.content-box {
  margin-bottom: 100px; }
  .content-box > h2 {
    font-size: 16px;
    margin: 0;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #e5e5e5; }
  .content-box .upload-file-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .content-box .upload-file-container div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .content-box .upload-file-container input {
      position: absolute;
      top: -10000px;
      left: 0; }
.content-box > table {
  table-layout: fixed;
  border: none;
  border-collapse: collapse;
  margin-top: 30px;
  color: #595656; }
  .content-box > table th, .content-box > table td {
    font-weight: bold;
    text-align: left;
    height: 50px;
    vertical-align: top;
    padding: 0;
    box-sizing: border-box; }
  .content-box > table th {
    width: 125px;
    padding-left: 5px; }
  .content-box > table td {
    font-weight: normal; }
  .content-box > table .modify-pwd-link {
    color: #f39800;
    margin-left: 30px;
    text-decoration: none; }
    .content-box > table .modify-pwd-link:HOVER {
      text-decoration: underline; }
  .content-box > table .modify-head-wrap {
    display: inline-block;
    padding-right: 80px;
    margin-right: 80px;
    border-right: 1px solid #e5e5e5; }
  .content-box > table .preview-box {
    display: inline-block;
    vertical-align: top; }
  .content-box > table .tip {
    padding: 0;
    margin: 20px 0;
    color: #9a9a9a;
    font-size: 14px;
    font-weight: normal; }
  .content-box > table .btn-wrap {
    height: 50px;
    margin-top: 30px; }
    .content-box > table .btn-wrap button {
      padding: 8px 32px;
      box-sizing: border-box;
      border-radius: 2px;
      font-size: 16px;
      display: none; }
    .content-box > table .btn-wrap > form {
      display: inline;
      margin-right: 40px; }
    .content-box > table .btn-wrap .submit-btn {
      color: #fff;
      background: #3996fd;
      border-color: #3996fd; }
.dev-box {
  width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  color: #333; }
  .dev-box > h1 {
    font-size: 16px;
    margin: 40px 0 0 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #e5e5e5; }
  .dev-box .dev-container {
    margin: 45px 0;
    font-size: 0; }
    .dev-box .dev-container .left-side {
      display: inline-block;
      box-sizing: border-box;
      width: 270px;
      margin-right: 10px;
      font-size: 14px; }
    .dev-box .dev-container .content-box {
      display: inline-block;
      vertical-align: top;
      width: 870px;
      font-size: 14px; }
.left-side .user-info-box {
  padding: 0 10px; }
  .left-side .user-info-box > .user-head {
    margin-right: 10px;
    vertical-align: middle;
    background: #818181;
    border-radius: 4px; }
  .left-side .user-info-box > .user-info-list {
    width: 150px;
    line-height: 30px;
    color: #595656;
    display: inline-block;
    vertical-align: middle; }
    .left-side .user-info-box > .user-info-list > .user-status.certified {
      color: #f39800; }
      .left-side .user-info-box > .user-info-list > .user-status.certified:after {
        background-image: url(images/certified-icon.png);
        background-size: 23px 15px; }
        @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
          .left-side .user-info-box > .user-info-list > .user-status.certified:after {
            background-image: url(images/certified-icon@2.png); } }
    .left-side .user-info-box > .user-info-list > .user-status:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 23px;
      height: 15px;
      margin-left: 10px;
      background-image: url(images/uncertified-icon.png);
      background-size: 23px 15px; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
        .left-side .user-info-box > .user-info-list > .user-status:after {
          background-image: url(images/uncertified-icon@2.png); } }

.left-side > ul {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0; }
  .left-side > ul > li {
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5; }
    .left-side > ul > li > a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #595656; }
    .left-side > ul > li.active, .left-side > ul > li:HOVER {
      background: #f9bc55; }
      .left-side > ul > li.active > a, .left-side > ul > li:HOVER > a {
        color: #fff; }
.modify-head-box {
  width: 420px;
  height: 420px;
  background: #e5e5e5;
  text-align: center;
  line-height: 420px;
  overflow: hidden; }
  .modify-head-box > .file-btn {
    display: inline-block;
    border: 1px solid #c4c4c4;
    background: #fff;
    color: #4c4c4c;
    line-height: 0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0; }
    .modify-head-box > .file-btn:HOVER {
      background: #f9bc55;
      border-color: #f9bc55;
      color: #fff; }
    .modify-head-box > .file-btn > label {
      display: inline-block;
      padding: 10px 30px;
      font-size: 0;
      line-height: 25px;
      cursor: pointer; }
      .modify-head-box > .file-btn > label > span {
        font-size: 18px;
        vertical-align: middle; }
      .modify-head-box > .file-btn > label:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 23px;
        height: 20px;
        margin-right: 10px;
        background-size: 23px 20px;
        background-image: url(images/file-icon.png); }
        @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
          .modify-head-box > .file-btn > label:before {
            background-image: url(images/file-icon@2.png); } }
  .modify-head-box > .image-file {
    display: none; }
.modifying .file-btn {
  position: absolute !important;
  top: 0 !important;
  left: -100000px !important; }

.modifying .submit-btn {
  display: inline-block !important; }

.modifying .cancel-btn {
  display: inline-block !important; }

.modifying .reupload-btn {
  position: relative !important;
  top: 0 !important;
  left: 0 !important; }

.modifying .modify-preview-box {
  display: block !important; }

.modifying .default-preview-box {
  display: none !important; }
.preview-box {
  width: 100px;
  text-align: center; }
  .preview-box .modify-preview-box {
    display: none;
    margin: 0 auto; }
  .preview-box .default-preview-box {
    margin: 0 auto; }
  .preview-box > h3 {
    color: #4c4c4c;
    font-size: 14px;
    margin: 0 0 30px 0;
    padding: 0; }
  .preview-box .preview-item {
    margin-bottom: 25px; }
    .preview-box .preview-item > .preview-img-wrap {
      overflow: hidden;
      border-radius: 4px;
      margin: 0 auto; }
      .preview-box .preview-item > .preview-img-wrap.size80 {
        width: 80px;
        height: 80px; }
      .preview-box .preview-item > .preview-img-wrap.size50 {
        width: 50px;
        height: 50px; }
      .preview-box .preview-item > .preview-img-wrap.size30 {
        width: 30px;
        height: 30px; }
      .preview-box .preview-item > .preview-img-wrap > img {
        background: #818181; }
    .preview-box .preview-item > label {
      display: block;
      color: #595656;
      font-size: 12px;
      line-height: 20px;
      margin-top: 10px; }
  .preview-box > .reupload-btn {
    color: #1f1f1f;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: -10000000px; }
    .preview-box > .reupload-btn:HOVER {
      background: #f9bc55;
      border-color: #f9bc55;
      color: #fff; }
    .preview-box > .reupload-btn > label {
      font-size: 16px;
      display: block;
      padding: 8px 15px;
      cursor: pointer; }
    .preview-box > .reupload-btn > input {
      position: absolute;
      top: -10000px;
      left: 0;
      opacity: 0;
      cursor: pointer; }
