.account-table .hint-link {
  margin-left: 30px; }
.auth-type-table {
  margin-top: 20px; }
  .auth-type-table h2 {
    font-size: 16px;
    margin: 0;
    padding: 10px 0 !important; }
  .auth-type-table .hint-btn {
    margin-right: 35px; }
.content-box {
  margin-bottom: 100px; }
  .content-box > h2 {
    font-size: 16px;
    margin: 0;
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid #e5e5e5; }
  .content-box .inner-content-box {
    color: #595656;
    font-size: 14px; }
    .content-box .inner-content-box h2 {
      font-size: 16px;
      margin: 0;
      padding: 10px 0 10px 5px; }
    .content-box .inner-content-box table {
      table-layout: fixed;
      border: none;
      border-collapse: collapse; }
      .content-box .inner-content-box table tr {
        margin-bottom: 20px; }
      .content-box .inner-content-box table th, .content-box .inner-content-box table td {
        font-weight: normal;
        text-align: left;
        height: 50px;
        vertical-align: middle;
        padding: 0;
        box-sizing: border-box; }
      .content-box .inner-content-box table th {
        width: 90px;
        padding-left: 5px;
        vertical-align: top;
        line-height: 50px; }
      .content-box .inner-content-box table td {
        font-weight: normal; }
.info-box h2 {
  margin-top: 45px !important;
  margin-bottom: 20px !important; }

.info-box input[type="text"] {
  padding: 0 10px; }

.info-box th, .info-box td {
  padding-bottom: 20px !important; }

.info-box .industry-input {
  background-size: 14px 12px;
  background-image: url(images/dialog-input-icon.png);
  background-repeat: no-repeat;
  background-position: 500px center; }
  .info-box .industry-input.active {
    border-color: #f39800; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
    .info-box .industry-input {
      background-image: url(images/dialog-input-icon@2.png); } }
.inner-content-box.org-auth .org-type-btn {
  background: #f9bc55;
  border-color: #f9bc55;
  color: #fff; }

.inner-content-box.org-auth .personal-box {
  display: none; }

.inner-content-box.personal-auth .personal-type-btn {
  background: #f9bc55;
  border-color: #f9bc55;
  color: #fff; }

.inner-content-box.personal-auth .org-box {
  display: none; }

.inner-content-box input[type="file"] {
  opacity: 0;
  cursor: pointer; }
.org-box .type-select {
  width: 520px; }

.org-box .city-sub-select {
  width: 160px;
  margin-right: 20px; }

.org-box input[type="text"] {
  width: 520px; }

.org-box a {
  cursor: pointer; }

.org-box .upload-aptitude-btn {
  width: 160px;
  height: 160px;
  border: 1px solid #e5e5e5;
  background: #fff;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  outline: none;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer; }
  .org-box .upload-aptitude-btn > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .org-box .upload-aptitude-btn:before {
    content: '';
    display: block;
    width: 64px;
    height: 2px;
    background: #c2c3c4;
    margin: 78px auto; }
  .org-box .upload-aptitude-btn:after {
    content: '';
    position: absolute;
    top: 48px;
    left: 78px;
    width: 2px;
    height: 64px;
    background: #c2c3c4; }

.org-box .reupload-aptitude-btn {
  width: 160px;
  height: 160px;
  border: 1px solid #e5e5e5;
  background: #fff;
  box-sizing: border-box;
  display: none;
  vertical-align: middle;
  padding: 0;
  outline: none;
  position: relative;
  top: 0;
  left: 0; }
  .org-box .reupload-aptitude-btn > img {
    display: block;
    margin: 28px auto; }
  .org-box .reupload-aptitude-btn > .reupload-btn {
    position: absolute;
    top: 65px;
    left: 30px;
    background: #fff;
    cursor: pointer;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    overflow: hidden; }
    .org-box .reupload-aptitude-btn > .reupload-btn:HOVER {
      background: #f9bc55;
      border-color: #f9bc55;
      color: #fff; }
    .org-box .reupload-aptitude-btn > .reupload-btn > .aptitude-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 22; }
      .org-box .reupload-aptitude-btn > .reupload-btn > .aptitude-container > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }

.org-box .aptitude-stated {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  margin: 0 0 0 40px;
  padding: 0;
  color: #9a9a9a; }
.personal-box .type-select {
  width: 520px; }

.personal-box .city-sub-select {
  width: 160px;
  margin-right: 20px; }

.personal-box input[type="text"] {
  width: 520px; }

.personal-box a {
  cursor: pointer; }

.personal-box .card-box {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  text-align: center; }
  .personal-box .card-box > label {
    line-height: 30px; }

.personal-box .upload-card1-btn, .personal-box .upload-card2-btn {
  width: 160px;
  height: 160px;
  border: 1px solid #e5e5e5;
  background: #fff;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  outline: none;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer; }
  .personal-box .upload-card1-btn > div, .personal-box .upload-card2-btn > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 2; }
  .personal-box .upload-card1-btn:before, .personal-box .upload-card2-btn:before {
    content: '';
    display: block;
    width: 64px;
    height: 2px;
    background: #c2c3c4;
    margin: 78px auto; }
  .personal-box .upload-card1-btn:after, .personal-box .upload-card2-btn:after {
    content: '';
    position: absolute;
    top: 48px;
    left: 78px;
    width: 2px;
    height: 64px;
    background: #c2c3c4; }

.personal-box .reupload-card1-btn, .personal-box .reupload-card2-btn {
  width: 160px;
  height: 160px;
  border: 1px solid #e5e5e5;
  background: #fff;
  box-sizing: border-box;
  display: none;
  vertical-align: middle;
  padding: 0;
  outline: none;
  position: relative;
  top: 0;
  left: 0; }
  .personal-box .reupload-card1-btn > img, .personal-box .reupload-card2-btn > img {
    display: block;
    margin: 28px auto; }
  .personal-box .reupload-card1-btn > .reupload-btn, .personal-box .reupload-card2-btn > .reupload-btn {
    position: absolute;
    top: 65px;
    left: 30px;
    background: #fff;
    cursor: pointer;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    overflow: hidden; }
    .personal-box .reupload-card1-btn > .reupload-btn:HOVER, .personal-box .reupload-card2-btn > .reupload-btn:HOVER {
      background: #f9bc55;
      border-color: #f9bc55;
      color: #fff; }
    .personal-box .reupload-card1-btn > .reupload-btn > .card-btn-container1, .personal-box .reupload-card1-btn > .reupload-btn > .card-btn-container2, .personal-box .reupload-card2-btn > .reupload-btn > .card-btn-container1, .personal-box .reupload-card2-btn > .reupload-btn > .card-btn-container2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 22; }
      .personal-box .reupload-card1-btn > .reupload-btn > .card-btn-container1 > div, .personal-box .reupload-card1-btn > .reupload-btn > .card-btn-container2 > div, .personal-box .reupload-card2-btn > .reupload-btn > .card-btn-container1 > div, .personal-box .reupload-card2-btn > .reupload-btn > .card-btn-container2 > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }

.personal-box .card-stated {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  margin: 0 0 0 40px;
  padding: 0;
  color: #9a9a9a; }
.progress-box {
  width: 840px;
  height: 70px;
  list-style: none;
  margin: 20px 0;
  padding: 0;
  text-align: center; }
  .progress-box.progress-stage1 > .stage1 > i:before {
    background: #f9bc55; }
  .progress-box.progress-stage2 > .stage1 > i:before {
    background: #f9bc55; }
  .progress-box.progress-stage2 > .stage1:after {
    background: #f9bc55; }
  .progress-box.progress-stage2 > .stage2 > i:before {
    background: #f9bc55; }
  .progress-box.progress-stage3 > .stage1 > i:before {
    background: #f9bc55; }
  .progress-box.progress-stage3 > .stage1:after {
    background: #f9bc55; }
  .progress-box.progress-stage3 > .stage2 > i:before {
    background: #f9bc55; }
  .progress-box.progress-stage3 > .stage3 > i:before {
    background: #f9bc55; }
  .progress-box.progress-stage3 > .stage3:after {
    background: #f9bc55; }
  .progress-box > li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: 50px; }
    .progress-box > li > i {
      display: block;
      width: 60px;
      height: 40px;
      background: #fff;
      font-style: normal;
      margin: 0 auto; }
      .progress-box > li > i:before {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        background: #c2c3c4;
        margin: 0 auto; }
    .progress-box > li > span {
      line-height: 30px; }
    .progress-box > li.stage1 {
      float: left; }
      .progress-box > li.stage1 > i:before {
        content: '1'; }
      .progress-box > li.stage1:after {
        content: '';
        position: absolute;
        top: 18px;
        left: 75px;
        width: 345px;
        height: 4px;
        background: #c2c3c4;
        z-index: -1; }
    .progress-box > li.stage2 > i:before {
      content: '2'; }
    .progress-box > li.stage3 {
      float: right; }
      .progress-box > li.stage3 > i:before {
        content: '3'; }
      .progress-box > li.stage3:after {
        content: '';
        position: absolute;
        top: 18px;
        right: 75px;
        width: 345px;
        height: 4px;
        background: #c2c3c4;
        z-index: -1; }
.protocol-table th {
  width: auto !important; }

.protocol-table a {
  cursor: pointer; }
.industry-dialog {
  width: 600px;
  height: 400px;
  overflow: hidden;
  display: none;
  background: #fff;
  margin: 100px auto;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #ccc;
  position: relative;
  top: 0;
  left: 0; }
  .industry-dialog.show {
    display: block; }
  .industry-dialog > .dialog-head {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background: #e5e5e5;
    box-sizing: border-box; }
    .industry-dialog > .dialog-head > h1 {
      color: #1f1f1f;
      font-size: 18px;
      line-height: 40px;
      font-weight: normal;
      margin: 0;
      padding: 0;
      display: inline; }
    .industry-dialog > .dialog-head > button {
      width: 20px;
      height: 20px;
      border: none;
      background: none;
      cursor: pointer;
      outline: none;
      transform: rotate(45deg);
      margin-top: 10px;
      position: relative;
      top: 0;
      left: 0;
      float: right; }
      .industry-dialog > .dialog-head > button:after {
        content: '';
        width: 2px;
        height: 20px;
        background: #5e5e5e;
        position: absolute;
        top: 0;
        left: 9px; }
      .industry-dialog > .dialog-head > button:before {
        content: '';
        width: 20px;
        height: 2px;
        background: #5e5e5e;
        position: absolute;
        top: 9px;
        left: 0; }
  .industry-dialog > .dialog-body {
    width: 100%;
    font-size: 14px;
    color: #808080; }
    .industry-dialog > .dialog-body > .selected-box {
      padding: 10px 20px;
      height: 24px;
      line-height: 24px; }
      .industry-dialog > .dialog-body > .selected-box > label {
        margin-right: 40px; }
      .industry-dialog > .dialog-body > .selected-box > .selected-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: middle; }
        .industry-dialog > .dialog-body > .selected-box > .selected-list > li {
          display: inline-block;
          vertical-align: middle;
          padding: 0 5px;
          padding-right: 25px;
          height: 24px;
          line-height: 24px;
          color: #fff;
          background: #62a3e7;
          position: relative;
          top: 0;
          left: 0;
          cursor: pointer; }
          .industry-dialog > .dialog-body > .selected-box > .selected-list > li:after, .industry-dialog > .dialog-body > .selected-box > .selected-list > li:before {
            content: '';
            position: absolute;
            background: #fff;
            transform: rotate(45deg); }
          .industry-dialog > .dialog-body > .selected-box > .selected-list > li:after {
            height: 2px;
            width: 10px;
            top: 11px;
            right: 5px; }
          .industry-dialog > .dialog-body > .selected-box > .selected-list > li:before {
            height: 10px;
            width: 2px;
            top: 7px;
            right: 9px; }
    .industry-dialog > .dialog-body > .tabs-title {
      height: 32px;
      box-sizing: border-box;
      border-bottom: 1px solid #e6e6e6;
      list-style: none;
      margin: 0;
      padding: 0 30px;
      font-size: 0; }
      .industry-dialog > .dialog-body > .tabs-title > li {
        font-size: 14px;
        height: 31px;
        box-sizing: border-box;
        line-height: 31px;
        padding: 0 15px;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #fff;
        background: #fff;
        transform: translateY(1px);
        position: relative;
        top: 0;
        left: 0; }
        .industry-dialog > .dialog-body > .tabs-title > li.active {
          border-color: #e6e6e6 #e6e6e6 #fff #e6e6e6;
          padding-right: 30px;
          color: #1f1f1f; }
          .industry-dialog > .dialog-body > .tabs-title > li.active:after {
            content: '';
            position: absolute;
            top: 12px;
            right: 9px;
            width: 12px;
            height: 6px;
            background-size: 12px 6px;
            background-image: url(images/down-arrow.png); }
            @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
              .industry-dialog > .dialog-body > .tabs-title > li.active:after {
                background-image: url(images/down-arrow@2.png); } }
    .industry-dialog > .dialog-body > .tabs-content {
      list-style: none;
      margin: 0;
      padding: 10px 20px; }
      .industry-dialog > .dialog-body > .tabs-content > li > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0;
        line-height: 30px; }
        .industry-dialog > .dialog-body > .tabs-content > li > ul > li {
          font-size: 14px;
          color: #9a9a9a;
          cursor: pointer;
          display: inline-block;
          vertical-align: middle;
          margin-right: 25px;
          line-height: 20px;
          padding: 0 5px; }
          .industry-dialog > .dialog-body > .tabs-content > li > ul > li:HOVER {
            color: #595656; }
          .industry-dialog > .dialog-body > .tabs-content > li > ul > li.selected {
            background: #62a3e7 !important;
            color: #fff !important; }
  .industry-dialog > .dialog-foot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 65px;
    border-top: 1px solid #e6e6e6;
    background: #fafafa;
    text-align: center;
    line-height: 64px; }
    .industry-dialog > .dialog-foot > button:first-child {
      color: #fff;
      background: #3996fd;
      border-color: #3996fd;
      margin-right: 15px; }
.dev-box {
  width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  color: #333; }
  .dev-box > h1 {
    font-size: 16px;
    margin: 40px 0 0 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #e5e5e5; }
  .dev-box .dev-container {
    margin: 45px 0;
    font-size: 0; }
    .dev-box .dev-container .left-side {
      display: inline-block;
      box-sizing: border-box;
      width: 270px;
      margin-right: 10px;
      font-size: 14px; }
    .dev-box .dev-container .content-box {
      display: inline-block;
      vertical-align: top;
      width: 870px;
      font-size: 14px; }
.left-side .user-info-box {
  padding: 0 10px; }
  .left-side .user-info-box > .user-head {
    margin-right: 10px;
    vertical-align: middle;
    background: #818181;
    border-radius: 4px; }
  .left-side .user-info-box > .user-info-list {
    width: 150px;
    line-height: 30px;
    color: #595656;
    display: inline-block;
    vertical-align: middle; }
    .left-side .user-info-box > .user-info-list > .user-status.certified {
      color: #f39800; }
      .left-side .user-info-box > .user-info-list > .user-status.certified:after {
        background-image: url(images/certified-icon.png);
        background-size: 23px 15px; }
        @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
          .left-side .user-info-box > .user-info-list > .user-status.certified:after {
            background-image: url(images/certified-icon@2.png); } }
    .left-side .user-info-box > .user-info-list > .user-status:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 23px;
      height: 15px;
      margin-left: 10px;
      background-image: url(images/uncertified-icon.png);
      background-size: 23px 15px; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
        .left-side .user-info-box > .user-info-list > .user-status:after {
          background-image: url(images/uncertified-icon@2.png); } }

.left-side > ul {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0; }
  .left-side > ul > li {
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5; }
    .left-side > ul > li > a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #595656; }
    .left-side > ul > li.active, .left-side > ul > li:HOVER {
      background: #f9bc55; }
      .left-side > ul > li.active > a, .left-side > ul > li:HOVER > a {
        color: #fff; }
